option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: 8501
    LC_ALL: en_US.UTF-8
    LANG: en_US.UTF-8
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:elasticbeanstalk:managedactions:
    ManagedActionsEnabled: true
    PreferredStartTime: "Tue:09:00"
  aws:elasticbeanstalk:container:python:
    WSGIPath: app.py
    NumProcesses: 1
    NumThreads: 15
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static/
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.medium
    RootVolumeType: gp2
    RootVolumeSize: "16"
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /_stcore/health
    Port: 8501
    Protocol: HTTP

packages:
  yum:
    git: []
    gcc-c++: []
    lapack-devel: []
    blas-devel: []

container_commands:
  01_install_numpy:
    command: "pip install numpy==1.24.3"
  02_install_pandas:
    command: "pip install pandas==2.0.2"
  03_install_streamlit:
    command: "pip install streamlit==1.24.0"
